@charset "UTF-8";


.infobtn{
	background-color: #3D6B9B;
	opacity: 70%;
	border-radius: 5px;
	width: 70px;
	height: 30px;
	color:white;
	font-weight: bold;
	font-size:13px;
}

.infomenu{
	background-color: #3D6B9B;
	opacity: 70%;
	color:white;
	font-weight: bold;
	font-size:13px;
}

.admin{
	height: 50px;
}
.goodbtn{
	background-color: #3D6B9B;
	opacity: 70%;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	color:white;
	font-weight: bold;
	font-size:14px;
}

.border_delete_btn{
	border: 0px solid;
}
.first_div_css{
	background-color: #3D6B9B;
	text-align: center;
}
.deptregist_color_size{
	color:white;
	font-size: 20px;
}
.font_color_paydetail{
	width:100px;
	border:1px solid #D9EDF7;
	background-color: #F8F7F7;
}
